In [1]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import split

In [3]:
# Create a Spark session
spark = SparkSession.builder.appName('DateTransform').getOrCreate()

In [39]:
# Sample input data

data = [('A', '1-1/1990'),
('B', '1\\2/1990'),
('C', '1-3/1990'),
('D', '1\\4/1990')]

In [40]:
# Define the schema

schema = ['Names', 'DOB']

In [41]:
# Create a DataFrame

df = spark.createDataFrame(data, schema)
df.show()

+-----+--------+
|Names|     DOB|
+-----+--------+
|    A|1-1/1990|
|    B|1\2/1990|
|    C|1-3/1990|
|    D|1\4/1990|
+-----+--------+

In [42]:
# Split the “DOB” column into “Date,” “Month,” and “Year”

split_date = split(df['DOB'], '[-\\\\/]')

In [43]:
# Create the output DataFrame

output_df = df.withColumn('Date', split_date.getItem(0)) \
.withColumn('Month', split_date.getItem(1)) \
.withColumn('Year', split_date.getItem(2))

In [32]:
output_df.show()

+-----+--------+----+-----+----+
|Names|     DOB|Date|Month|Year|
+-----+--------+----+-----+----+
|    A|1-1/1990|   1|    1|1990|
|    B|1-2/1990|   1|    2|1990|
|    C|1-3/1990|   1|    3|1990|
|    D|1-4/1990|   1|    4|1990|
+-----+--------+----+-----+----+